<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        button {
            display: block;
            width: 50%;
            height: 100%;
            margin: 0 auto;
            font-size: 4vw;
        }
        input {
            display: block;
            width: 50%;
            height: 100%;
            margin: 0 auto;
            font-size: 4vw;
        }
        .login{
            text-align: center;
            font-size: 4vw;
        }
        footer {
            position: absolute;
            bottom: 5px;
            left: 10%;
            width: 80%;
            height: 30px;
            background: palegoldenrod;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="login">
        <form method="post" action="main">
            <input name="login" type="text" placeholder="Логин"></br>
            <input name="password" type="password" placeholder="Пароль"></br>
            <button type="submit">Вход</button>
        </form>
    </div>
    <footer>
        #set ($footer = "")
        #if($page_gen)
            #set ($footer = $footer + $page_gen)
        #end
        #if($db_req)
            #set ($footer = $footer + ", " + $db_req)
        #end
        $footer
    </footer>
</body>
</html>